{% extends "base.html" %}
{% block title %}Search{%endblock%}
{% block content %}
    {% if 'tipue-search' in PLUGINS %}
        {% if 'assets' in PLUGINS %}
            {% include 'partials/_minify_tipue.html' with context %}
        {% else %}
            <script src="{{ SITEURL }}/theme/js/jquery.js"></script>
            <script src="{{ SITEURL }}/theme/js/tipuesearch.js"></script>
            <script src="{{ SITEURL }}/theme/js/tipuesearch_set.js"></script>
        {% endif %}
        <script>
            $(document).ready(function(){$("#tipue_search_input").tipuesearch({mode:"json",show:10,newWindow:!1,contentLocation:"{{ SITEURL }}/tipuesearch_content.json"})});
        </script>
        <article itemscope itemtype="http://schema.org/WebPage">
            <div class="eevee-page">
                <h2 itemprop="name">Search results</h2>
                <div>
                    <div id="tipue_search_content"></div>
                </div>
            </div>
        </article>
    {% else %}
        <div class="eevee-padding">
            <h2>Search results</h2>
            <section class="post-content">
                <p>Em implementação.</p>
            </section>
        </div>
    {% endif %}
{% endblock %}
