<main id="main-sobre">
    <section id="section1" class="section-1-sobre">
        <label id="title-sobre">SOBRE NÓS</label>
    </section>
    <section id="section2-sobre" data-aos="fade-up" data-aos-delay="150">
        <br/>
        <strong class="sub-title-orange"> H2 Verde Para Todos</strong>
        <p>
            <strong>Centro captador</strong>
            Aqui especialistas se reunem para disseminarem informações sobre o uso do
            hidrogênio, seus benefícios e como o público pode se informar sobre esta energia.

            Somos uma plataforma para incentivar além de jovens estudantes e universitários,
            empoderar mulheres a se especializarem e colaborarem para o setor de Hidrogênio Verde no Brasil.

            Uma rede que relaciona especialistas e novatos, onde juntos fortalecem e incentivam
            outras mulheres a encontrarem o sucesso na área.
            <br/>
            Uma base de apoio que encontrarão:
            <ul id="list-sobre">
                <li>Mentorias</li>
                <li>Eventos</li>
                <li>Cursos</li>
                <li>Parcerias</li>
                <li>Oportunidades no mercado de trabalho</li>
            </ul>
        </p>
        <img src="{{SITE_URL}}/theme/img/sobre_nos/img-1.png" class="img-fluid" alt="" width="100%"/>
    </section>
    <section id="section3-sobre" data-aos="fade-up" data-aos-delay="150">
        <p>
            <strong class="sub-title-orange">
                As mulheres cientistas são apenas 14% da Academia Brasileira de Ciências.
            </strong>
            <br/>
            Um estudo recente mostrou que as mulheres representam apenas 24% dos beneficiários
            de um subsídio do governo brasileiro concedido aos cientistas mais produtivos do país (a bolsa
            produtividade).
            <br/>
            O nosso maior foco é capacitar e inserir mulheres neste mercado que hoje conta com
            sua maioria homens.
        </p>
        <img src="{{SITE_URL}}/theme/img/sobre_nos/img-2.png" class="img-fluid" alt="" width="100%"/>
    </section>
</main>
